<!-- navigation -->
<nav>
    <ul>
        {{#each nav}}
            <li>
                <a href="{{ url }}" target="{{ target }}">
                    {{ name }}
                </a>
            </li>
        {{/each}}
    </ul>
</nav>